.platform {
    background-color: rgb(213, 213, 236);
    margin: 10px;
    padding: 15px;
}

.btn-practice {
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(68, 175, 224);
    border: 0;
    color: white
}