.answer {
    border: 1px solid rgb(102, 102, 202)
}

.answer:hover {
    background-color: rgb(201, 230, 220);
    cursor: pointer;
}


.btn-select {
    background-color: rgba(102, 102, 202, 0);
}

.btn-select:focus {
    background-color: rgb(235, 175, 127);
}